<!DOCTYPE html>

<head>
    <title>fkfd archive</title>
    <link rel="icon" href="/comics/img/favicon.png">
    <link rel="stylesheet" href="/comics/fkfd.css">
</head>

<body>
    <header class="box">
        <div id="heading">
            <h1><a href="/comics">fkfd comics</a> | <a class="here" href="/comics/archive.html">archive</a></h1>
            <p>Enjoy the list<sup>&reg;&copy;&trade;</sup></p>
        </div>
    </header>

    <div id="container" class="box center">
        <div style="margin: 24px">
            {{list}}
        </div>
    </div>
</body>
