<!DOCTYPE html>

<head>
    <title>fkfd comic: {{title}}</title>
    <link rel="icon" href="/comics/img/favicon.png">
    <link rel="stylesheet" href="/comics/fkfd.css">
</head>

<body>
    <header class="box">
        <div id="heading">
            <h1>
                <a class="here" href="/comics">fkfd comics</a> | <a href="/comics/archive.html">archive</a> | <a href="/feed/atom.xml">feed</a>
            </h1>
        </div>
    </header>

    <div id="container" class="box center">
        <div class="nav">
            <a class="navkey" href="/comics/{{prev}}" accesskey="p">&lt; PREV</a> |
            <!--a class="navkey" href="/random" accesskey="r">RANDOM</a> | NYI-->
            <a class="navkey" href="/comics/{{next}}" accesskey="n">NEXT &gt;</a>
        </div>

        <div id="content">
            <h3 id="title">{{title}}</h3>
            <h4 id="info">{{date}} <i>by</i> {{author}}</h4>
            <img id="comic" src="{{img}}" title="{{alt}}" alt="Image not found">
        </div>

        <div class="nav">
            <a class="navkey" href="/comics/{{prev}}" accesskey="p">&lt; PREV</a> |
            <!--a class="navkey" href="/random" accesskey="r">RANDOM</a> | NYI-->
            <a class="navkey" href="/comics/{{next}}" accesskey="n">NEXT &gt;</a>
        </div>
        <p class="note" id="note">{{news}}</p>
    </div>

    <div class="box center" style="margin-top: 15px">
        <footer style="margin: 36px">
            <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
                <img alt="Creative Commons License" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
            </a>

            <p class="small">
                Comics on fkfd.me are licensed under CC BY-NC 4.0 unless otherwise noted
            </p>
            <hr>
            <p>
                <h4>A few of my favorites: </h4>
                <a href="/comics/67">Irrelevant xkcd</a><br>
                <a href="/comics/88">Company Rules</a><br>
                <a href="/comics/103">Unique</a><br>
                <a href="/comics/108">Protesters</a><br>
            </p>
            <hr>
            <p class="small">
                I draw comics with <a href="https://krita.org">Krita</a>.
                Please consider <a href="https://krita.org/en/support-us/donations/">supporting</a> this free software project.
            </p>
            <p class="small">
                You can obtain the Krita file for most comics by substituting ".kra" for ".png" in the image source filename.
                They are usually hi-res, and retain layer information for some comics.
            </p>
            <p class="small">
                Comics are occasionally prototyped on a whiteboard. Do not print them if your printer is turing complete.
                The compression algorithm knows no fear. lp0 is on fire. Only read the comics in circumstances of finite surreality.
                If you are in traffic, watch out. They are coming for you.
            </p>
        </footer>
    </div>
</body>
