body {
    font-family: 'Noto Sans', 'Droid Sans', sans-serif;
    position: relative;
    font-size: 1em;
    left: 50%;
    max-width: 960px;
    margin-left: -480px;
    background-color: #96a8c8;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #19202b;
    }
}

a {
    text-decoration: none;
    color: #566888;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #7b91be;
    }
}

.small {
    font-size: 0.8em;
    color: #444;
}

@media (prefers-color-scheme: dark) {
    .small {
        color: #ddd;
    }
}

.box {
    display: block;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 12px;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    .box {
        background-color: #202836;
        color: #ddd;
    }
}

.here {
    color: black;
}

@media (prefers-color-scheme: dark) {
    .here {
        color: #ddd;
    }
}

.center {
    text-align: center;
}

h1,
h2 {
    font-weight: 250;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

#heading {
    margin-left: 24px;
}

#container {
    text-align: center;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

#title {
    font-variant: small-caps;
}

.navkey {
    margin: 10px;
}

button {
    background-color: #68a;
    color: white;
    border: solid white 1px;
    font-size: 1.2em;
}

@media (prefers-color-scheme: dark) {

}

.nav {
    position: relative;
    margin: 24px;
}

#content {
    text-align: center;
}

#note {
    margin-left: 24px;
}

#comic {
    display: block;
    position: relative;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
