<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>fkfd comic archive</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="fkfd.css">
  </head>

  <body>
    <header class="box">
      <div id="heading">
        <p>
          <a href="/">blog</a> |
          <a href="index.html">comics</a> |
          <a class="here" href="archive.html">archive</a> |
          <a href="/feed/atom.xml">feed</a>
        </p>
        <p>Enjoy the list<sup>&reg;&copy;&trade;</sup></p>
      </div>
    </header>

    <div id="container" class="box center">
      <p>
        {{list}}
      </p>
    </div>
  </body>
</html>
