<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>{{title}} - fkfd comics</title>
    <link rel="icon" href="{{root}}img/favicon.png">
    <link rel="stylesheet" href="{{root}}fkfd.css">
  </head>

  <body>
    <header class="box">
      <div id="heading">
        <p>
          <a href="/">blog</a> |
          <a class="here" href="/comics">comics</a> |
          <a href="{{root}}archive.html">archive</a> |
          <a href="/feed/atom.xml">feed</a>
        </p>
      </div>
    </header>

    <div id="container" class="box center">
      <div class="nav">
        <a class="navkey" href="{{root}}{{prev}}" accesskey="p">&lt; PREV</a> |
        <a class="navkey" href="{{root}}{{next}}" accesskey="n">NEXT &gt;</a>
      </div>

      <div id="content">
        <h1 id="title">{{title}}</h1>
        <p id="info">{{date}} <i>by</i> {{author}}</p>
        <img id="comic" src="{{img}}" title="{{hover}}" alt="{{alt}}">
      </div>

      <div class="nav">
        <a class="navkey" href="{{root}}{{prev}}" accesskey="p">&lt; PREV</a> |
        <a class="navkey" href="{{root}}{{next}}" accesskey="n">NEXT &gt;</a>
      </div>
      <p class="note" id="note">{{news}}</p>
    </div>

    <footer class="box center">
      <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Creative Commons License" style="border-width:0"
          src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
      </a>

      <p class="small">
        Comics on fkfd.me are licensed under CC BY-NC 4.0 unless otherwise noted
      </p>
      <p>
        <h4>A few of my favorites: </h4>
        <a href="{{root}}67">Irrelevant xkcd</a><br>
        <a href="{{root}}88">Company Rules</a><br>
        <a href="{{root}}103">Unique</a><br>
        <a href="{{root}}108">Protesters</a><br>
      </p>
      <p class="small">
        I draw comics with <a href="https://krita.org">Krita</a>.
        Please consider <a href="https://krita.org/en/support-us/donations/">supporting</a>
        this free software project.
      </p>
      <p class="small">
        You can obtain the Krita file for most comics by substituting ".kra"
        for ".png" in the image source filename. They are usually hi-res, and
        retain layer information for some comics.
      </p>
    </footer>
  </body>
</html>
