body {
  font-family: 'Noto Sans', 'Droid Sans', sans-serif;
  position: relative;
  font-size: 1em;
  left: 50%;
  max-width: 960px;
  margin-left: -480px;
  background-color: white;
  color: #3e4349;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #19202b;
    color: #ddd;
  }
}

a {
  color: #004b6b;
}

a:hover {
  color: #206b8b;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #a5c5ff;
  }

  a:hover {
    color: #cddfff;
  }
}

.small {
  font-size: 0.8em;
  color: #3e4349;
}

@media (prefers-color-scheme: dark) {
  .small {
    color: #ddd;
  }
}

.box {
  display: block;
  margin-bottom: 15px;
}

.here {
  text-decoration: none;
  color: #3e4349;
}

@media (prefers-color-scheme: dark) {
  .here {
    color: #ddd;
  }
}

.center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

#heading {
  margin-left: 24px;
}

#container {
  text-align: center;
  position: relative;
  width: 100%;
  border: 1px solid;
  border-color: #3e4349;
  border-radius: 12px;
}

@media(prefers-color-scheme: dark) 
  #container {
    border-color: #ddd;
  }
}

#title {
  font-variant: small-caps;
}

.navkey {
  margin: 10px;
}

.nav {
  position: relative;
  margin: 24px;
}

#content {
  text-align: center;
}

#note {
  margin-left: 24px;
}

#comic {
  display: block;
  position: relative;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
